.App {
  text-align: center; /* Centers the heading */
}

.body {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  text-align: left; /* Ensures text is left-aligned */
  flex: 1; /* Takes up remaining space */
  margin-right: 20px; /* Adds spacing between text and video */
  width: 700px;
}

ol, ul {
  padding-left: 20px; /* Adds proper indentation for lists */
}

li {
  margin-bottom: 10px; /* Adds spacing between list items */
}